.typewriter>.typewriter-about-info {
    animation: typing 2s steps(23), blink .5s step-end infinite alternate;
}

.about-box {
    max-width: 50rem;
}

.col-about {
    width: calc(var(--bs-gutter-x) * 27);
}
h5{
    color: var(--bs-primary);
}